<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Article Aggregator</h1>
      <p>様々なコンテンツを集約するサイトです。他サイト等から自分のお気に入りのコンテンツを多くの人々に届けよう！</br>
      読んでよかった記事にイイねをすることで、投稿されているコンテンツに評価をすることができます。</br>
      話題になっている記事や、ユーザーを見つけることで、あなたの余暇に新しい価値を提供します。</p>
      <p>
        <%= link_to "Get Started", new_user_session_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
</main>