<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col">
      <%= render 'index', users: @users %>
    </div>
    <%= paginate @users %>
  </div>
</div>
